.component-title::after {
    content: "";
    display: block;
    width: 32px;
    padding-top: 3px;
    border-bottom: 2px solid #354458;
    margin-bottom: 0.5rem;
}


/* OBJECTIVE  =========================*/
.cv-objective {
    text-align: justify;
}

/* HEADER ============================ */
.cv-header {
    text-align: center;
    padding: 2rem;
    background-color: #354458;
    color: #ffffff;
    font-size: 2.5em;
}


/* MAIN ============================== */
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}


/* EXPERIENCE ======================== */
.exp {
    display: flex;
    flex-direction: column;
}
.exp-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.exp-title, .exp-title > input {
    font-size: large;
    font-weight: bold;
}

.exp-location-date, .exp-location-date > input  {
    font-size: medium;
    font-style: italic;
}

ul.exp-info > li {
    margin-left: 2rem;
}



/* LAYOUT ============================ */
.cv-layout {
    width: 58rem;
    height: 74rem;
    background-color: #ffffff;
    overflow: hidden;
}

.cv-body {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

/* SKILLS ============================ */

ul.skill-list > li {
    list-style-type: none;
}





/* SIDEBAR ========================== */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #dadada;
    padding: 2rem;
}

/* INFO ============================= */
.info > p {
    display: flex;
    gap: 1rem;
    margin: 0.5rem 0;
}

/* ICONS ============================= */
.mdi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 100%;
    background-color: #b8b8b8;
}

/* EDUCATION ========================= */
.education-list {
    display: grid;
    gap: 1rem;
}

.education-list > li {
    list-style-type: none;
}

.education-degree {
    font-weight: bold;
}

.education-location {
    font-style: italic;
}


/* FORM ============================= */
fieldset > div {
    margin: 0.5rem;
}
fieldset {
    padding: 1rem;
    border-radius: 1rem;
}
label {
    width: 200px;
}
.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group > input, .input-group > input {
    width: 20rem;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group > input {
    margin: 0.25rem 0;
}

.form-address {
    display: flex;
    margin-top: 1.5rem;;
}

label, input {
    padding: 0.5rem;
    outline: none;
    font-size: large;
}



#fullName {
    width: 100%;
    font-size: 1.75em;
    background-color: rgb(0,0,0,0);
    border: none;
    color: #ffffff;
    text-align: center;
}

.profile {
    width: 100%;
    resize: none;
    font-size: large;
    text-align: justify;
}

input, textarea {
    width: 100%;
    margin: 0.1rem;
}


textarea {
    overflow: hidden;
    resize: none;
    border: solid 1px #a7a7a7;
    font-size: medium;
    height: 2rem;
}


li {
    margin: 0.25rem 0;
}